@model Book_now_Table
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>




    <link rel="stylesheet" type="text/css" href="~/css/style2.css">
    <link rel="stylesheet" type="text/css" href="~/css/style3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg us_navbar fixed-top">
        <a style="margin-left: 10px; margin-top: 13px;" href="#"><img class="faq_nav_logo" src="~/images/white-logo-transparent-background@2x.png"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto con_nav_ul">
                <li class="nav-item">
                    <a style="" class="nav-link" href="/Helperland/Booknow" id="us_nav_item_Book_now">Book now</a>
                </li>
                <li class="nav-item active">
                    <a style="" class="nav-link" href="/Helperland/Prices" id="us_nav_item_booknow">Prices & Services <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_price">Warranty</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_war">Blog</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="/Helperland/Contact" id="us_nav_item_blog">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_con"><span style="color: white; margin-right: 5px;">|</span> <img src="~/images/us_icon1.png"><sup class="us_ss">2</sup> <span style="color: white;margin-left: 2px;">|</span></a>
                </li>
                <li class="nav-item" style="margin-top: 4px;margin-right: 50px;">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20" style="background-color: transparent;margin-top: 0px;border:none;">
                            <img id="us_nav_pro" src="~/images/us_icon2.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div style="margin-left: 10px;">Welcome,<br>@ViewBag.user</div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item cus_settings" href="#">Dashboard</a>
                            <a class="dropdown-item cus_settings" onclick="profile_det()">My Settings</a>
                            <a class="dropdown-item cus_settings" href="/Helperland/Logout">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="us_name" style="margin-top: 100px;">
        Welcome, <span style="font-weight: bold;">@ViewBag.user</span>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <!-- Button trigger modal -->
    <!-- Modal -->



    <div class="modal fade" id="exampleModal_reschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: gray;font-size: 17px;color: #646464;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size: 22px;font-weight: bold;" class="modal-title" id="exampleModalCenterTitle">Reschedule Service Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form asp-controller="Customer" asp-action="Modify_Service_dt" method="post">
                        <label style="font-size: 18px;">Select New Date & Time</label>
                        <input type="hidden" id="demo" asp-for="ID" />
                        <div style="display: flex;margin-top: 4px;">
                            <input required asp-for="Booking_date" min="@DateTime.Now.ToString("yyyy-MM-dd")" style="width: 49%;border: 1px solid #646464;color: #646464;" type="date">
                            <select asp-for="Booking_time" style="width: 49%;margin-left: 2%;border: 1px solid #646464;color: #646464;">
                                <option value="8.00">8:00 am</option>
                                <option value="8.30">8:30 am</option>
                                <option value="9.00">9:00 am</option>
                                <option value="9.30">9:30 am</option>
                                <option value="10.00">10:00 am</option>
                                <option value="10.30">10:30 am</option>
                                <option value="11.00">11:00 am</option>
                                <option value="11.30">11:30 am</option>
                                <option value="12.00">12:00 pm</option>
                                <option value="12.30">12:30 pm</option>
                                <option value="1.00">1:00 pm</option>
                                <option value="1.30">1:30 pm</option>
                                <option value="2.00">2:00 pm</option>
                                <option value="2.30">2:30 pm</option>
                                <option value="3.00">3:00 pm</option>
                                <option value="3.30">3:30 pm</option>
                                <option value="4.00">4:00 pm</option>
                                <option value="4.30">4:30 pm</option>
                                <option value="5.00">5:00 pm</option>
                                <option value="5.30">5:30 pm</option>
                                <option value="6.00">6:00 pm</option>
                            </select>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary" style="width: 100%;
          font-size: 17px;border-radius: 30px;">
                            Update
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Service Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: #646464;font-size: 17px;">



                    <span id="Service_date" style="font-size: 18px;font-weight: bold;">05/10/2021</span>
                    <span id="Service_time">8:00-11:00</span>
                    <div><span style="font-weight: bold;">Duration:</span> <span id="Service_duration">3.5 Hrs</span></div>
                    <hr>
                    <div><span style="font-weight: bold;">Service Id:</span> <span id="Service_id">1234</span></div>

                    <div style="display: flex;">
                        <div style="margin-top: 10px;">Net Amount</div>
                        <div style="text-align: center;color: #1d7a8c;font-size: 32px;margin-left: 125px;">
                            <span id="Service_cost">€63</span>
                        </div>
                    </div>
                    <hr>

                    <div id="esss" style="font-weight:bold;">Extra Services : </div>
                    <div id="il">Inside Laundry</div>
                    <div id="if">Inside Fridge</div>
                    <div id="ic">Inside Cabinate</div>
                    <div id="io">Inside Oven</div>
                    <div id="iw">Inside Windows</div>
                    <div>
                        <span style="font-weight: bold;">Service Address:</span> <span id="Service_street">Street</span>
                        <span id="Service_hn">House_number</span>
                        , <span id="Service_zipcode">zipcode</span>
                        <span id="Service_city"> city</span>
                    </div>
                    <div><span style="font-weight: bold;">Billing Address:</span> Same as service address</div>
                    <div><span style="font-weight: bold;">Phone:</span> <span id="Service_phone">7837468947</span></div>
                    <div><span style="font-weight: bold;">Email:</span> <span id="Service_email">hello@gmail.com</span></div>
                    <hr>
                    <div><span style="font-weight: bold;">comments</span></div>
                    <div><span id="Service_comment">I don't have pets at home</span></div>
                    <hr>

                    <div style="display:none;" id="id_div"></div>

                    <div class="cus_rate" style="display: flex;">
                        <button onclick="Set_idmodal()" id="re_btn" data-toggle="modal" data-target="#exampleModal_reschedule" style="width: 115px;background-color: #146371;font-size: 17px;
  color:white;" class="Reschedule_idb">
                            Reschedule
                        </button>
                        <button onclick="Set_idmodal2()" id="ca_btn" data-toggle="modal" data-target="#exampleModal_cancel" style="width: 85px;background-color: #ff6b6b;border: 1px solid #ff6b6b;font-size: 17px;margin-left: 7px;">Cancel</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal_cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: gray;color: #646464;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 22px;font-weight: bold;" id="exampleModalCenterTitle">Cancel Service Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <form asp-action="Cancel_sr" asp-controller="Customer" method="post">
                        <label style="font-size: 17px;">Why you want to cancel the service request?</label>
                        <input asp-for="ID" type="hidden" id="id_cancel" />
                        <input type="text" name="" style="width: 100%;height: 100px;">
                        <button type="submit" class="btn btn-primary"
                                style="width: 100%;border-radius: 30px;margin-top: 10px;font-size: 17px;" name="">
                            Cancel Now
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="us_table_main">

        <div class="us_table1" style="height:100%;">
            <div id="AllSr" onclick="Get_Asr()" class="da_daa"><a href="#" class="cus_side_items">Dashboard</a></div>
            <div id="CurrSr" onclick="Get_Csr()"><a href="#" class="cus_side_items">Service History</a></div>
            <div><a href="#" class="cus_side_items">Favourite Pros</a></div>


        </div>


        <div class="us_table2">
            <div id="us_table_inner1">
                <div class="cus_sh_main">

                </div>


                <div class="container-fluid">
                    <table class="table table-fluid" id="myTable8" style="color: rgba(0,0,0,0.7);">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Service Details</th>
                                <th>Service Provider</th>
                                <th>Payment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var temp in ViewBag.data)
                            {

                                
                                <tr>
                                    <td class="@temp.ID" style="font-weight: bold;font-size: 17px;margin-top: 25px;">@temp.ID</td>
                                    <td onclick="Set_Modal_Vals(@temp.ID,1)" class="us_d1 modal_pu" data-toggle="modal" data-target="#exampleModal1">
                                        <div class="@temp.ID" style="font-weight: bold;margin-top: 8px;"><img style="height: 16px;width: 17px;" src="~/images/cus_cal.png"> @temp.Booking_date.ToShortDateString()</div>
                                        <div class="@temp.ID">@temp.Booking_duration</div>
                                    </td>

                                    <td class="us_d1 cus_hat_txt">
                                        @if (temp.SP_ID != 0)
                                        {
                                            <div class="us_d1 cus_hat_txt">
                                                <div class="cus_ht">
                                                    <button><img src="~/images/cus_hat.png"></button>
                                                </div>
                                                <div class="cus_ht_txt">
                                                    <div class="cus_ht_txt1">@temp.SP_Name</div>
                                                    <div class="cus_ht_txt2">
                                                        <img src="~/images/cus_yellow_star.png">
                                                        <img src="~/images/cus_yellow_star.png">
                                                        <img src="~/images/cus_yellow_star.png">
                                                        <img src="~/images/cus_yellow_star.png">
                                                        <img src="~/images/cus_star.png">
                                                        <div>4</div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>

                                    <td class="cus_pay @temp.ID" style="margin-top: 7px;">
                                        €@temp.Discounted_cost
                                    </td>





                                    <td class="cus_rate" style="margin-top: 7px;">
                                        <button onclick="Setid(@temp.ID)" data-toggle="modal" data-target="#exampleModal_reschedule" style="width: 88px;background-color: #146371;
  color:white;" class="Reschedule_idb">
                                            Reschedule
                                        </button>
                                        <button onclick="Setid_forcancel(@temp.ID)" data-toggle="modal" data-target="#exampleModal_cancel" style="width: 60px;background-color: #ff6b6b;border: 1px solid #ff6b6b;">Cancel</button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @foreach (var temp in ViewBag.data)
                {

                    <div style="display:none;" class="@temp.ID ncc">@temp.Booking_time</div>

                    <div style="display:none;" class="@temp.ID ncc">@temp.Suggestion</div>
                    <div style="display:none;" class="@temp.ID ncc">@temp.Street</div>
                    <div style="display:none;" class="@temp.ID ncc">@temp.House_number</div>
                    <div style="display:none;" class="@temp.ID ncc">@temp.Zipcode</div>
                    <div style="display:none;" class="@temp.ID ncc">@temp.Location</div>
                    <div style="display:none;" class="@temp.ID ncc">@temp.Phone</div>

                }


            </div>

            <div id="us_table_inner2">Hi</div>
            <div id="div_pro_det"></div>


        </div>
    </div>


    <div class="faq_ff_main">
        <div class="faq_ff_2 final_footer">
            <a href="#"><img class="fin_foo_img_1" src="~/images/white-logo-transparent-background@2x.png"></a>
            <ul>
                <li><a style="color: white;" href="/Home">HOME</a></li>
                <li><a style="color: white;" href="/Helperland/About">ABOUT</a></li>
                <li><a style="color: white;" href="#">TESTIMONIALS</a></li>
                <li><a style="color: white;" href="/Helperland/FAQ">FAQS</a></li>
                <li><a style="color: white;" href="#">INSURANCE POLICY</a></li>
                <li><a style="color: white;" href="#">IMPRESSUM</a></li>
            </ul>
            <div>
                <a href="#"><img style="height: 18px;width: 9px; margin-top: 50px;margin-right: 20px;margin-bottom: 10px;" src="~/images/fb.png"></a>
                <a href="#"><img style="height: 18px;width: 18px;margin-top: 50px;margin-bottom: 10px;" src="~/images/insta.png"></a>
            </div>
        </div>

        <hr class="prices_hr">

        <div class="prices_rights" style="">©2018 Helperland. All rights reserved.     &nbsp;&nbsp;Terms and Conditions  |  Privacy Policy</div>
    </div>

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>

    
    
    
    <script>
        function profile_det() {
            alert("Hello from Profile details");
            
            $("#div_pro_det").load('@Url.Action("Profile_details", "Customer")');
            document.getElementById("us_table_inner1").style.display = "none";
            document.getElementById("us_table_inner2").style.display = "none";
            document.getElementById("div_pro_det").style.display = "block";
        }
    </script>










    <script>
        var val = 0;
        $(document).ready(function () {
            $('#myTable8').DataTable();
        });
    </script>

    <script>
        function Get_Csr() {
            //alert("hello");
            document.getElementById("div_pro_det").style.display = "none";
            document.getElementById("us_table_inner1").style.display = "none";
            document.getElementById("AllSr").style.backgroundColor = "#1d7a8c";
            document.getElementById("CurrSr").style.backgroundColor = "#146371";
            if (val == 0) {
                val = 1;
                $("#us_table_inner2").load('@Url.Action("Get_Done_Services", "Customer")');
            }
            else {

                document.getElementById("us_table_inner1").style.display = "none";
                document.getElementById("us_table_inner2").style.display = "block";
            }
        }
        function Get_Asr() {
            //alert("hello from first");

            document.getElementById("div_pro_det").style.display = "none";
            document.getElementById("us_table_inner1").style.display = "block";
            document.getElementById("us_table_inner2").style.display = "none";
            document.getElementById("CurrSr").style.backgroundColor = "#1d7a8c";
            document.getElementById("AllSr").style.backgroundColor = "#146371";
        }
    </script>

    <script>
        function Set_Modal_Vals(id, x) {
            document.getElementById("id_div").innerHTML = id;
            alert("hello" + id);
            if (x == 1) {
                document.getElementById("re_btn").style.display = "block";
                document.getElementById("ca_btn").style.display = "block";
            }
            else {
                document.getElementById("re_btn").style.display = "none";
                document.getElementById("ca_btn").style.display = "none";
            }
            document.getElementById("esss").style.display = "block";
            document.getElementById("il").style.display = "block";
            document.getElementById("if").style.display = "block";
            document.getElementById("ic").style.display = "block";
            document.getElementById("io").style.display = "block";
            document.getElementById("iw").style.display = "block";

            // else {
            /*document.getElementById("re_btn").style.display = "none";
            document.getElementById("ca_btn").style.display = "none";

            document.getElementById("esss").style.display = "none";
            document.getElementById("il").style.display = "none";
            document.getElementById("if").style.display = "none";
            document.getElementById("ic").style.display = "none";
            document.getElementById("io").style.display = "none";
            document.getElementById("iw").style.display = "none";*/
            //}

            var service_date = document.getElementById("Service_date");
            var service_time = document.getElementById("Service_time");
            var service_duration = document.getElementById("Service_duration");
            var service_id = document.getElementById("Service_id");
            var service_cost = document.getElementById("Service_cost");
            var service_street = document.getElementById("Service_street");
            var service_hn = document.getElementById("Service_hn");
            var service_zipcode = document.getElementById("Service_zipcode");
            var service_city = document.getElementById("Service_city");
            var service_phone = document.getElementById("Service_phone");
            var service_email = document.getElementById("Service_email");
            var service_comment = document.getElementById("Service_comment");
            var inside_ca = document.getElementById("inside_ca");
            var inside_la = document.getElementById("inside_la");
            var inside_fr = document.getElementById("inside_fr");
            var inside_ov = document.getElementById("inside_ov");
            var inside_wi = document.getElementById("inside_wi");

            service_date.innerHTML = document.getElementsByClassName(id)[1].innerHTML;
            service_time.innerHTML = document.getElementsByClassName(id)[2].innerHTML;
            service_duration.innerHTML = document.getElementsByClassName(id)[4].innerHTML;
            service_id.innerHTML = document.getElementsByClassName(id)[0].innerHTML;
            service_cost.innerHTML = document.getElementsByClassName(id)[3].innerHTML;
            service_street.innerHTML = document.getElementsByClassName(id)[6].innerHTML;
            service_hn.innerHTML = document.getElementsByClassName(id)[7].innerHTML;
            service_zipcode.innerHTML = document.getElementsByClassName(id)[8].innerHTML;
            service_city.innerHTML = document.getElementsByClassName(id)[9].innerHTML;
            service_phone.innerHTML = document.getElementsByClassName(id)[10].innerHTML;
            service_comment.innerHTML = document.getElementsByClassName(id)[5].innerHTML;



            var obj = {
                "ServiceRequestId": id,

            };
            $.ajax({
                type: "GET",
                url: "/Customer/Fetch_Address",
                data: obj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.laundry == 0)
                        document.getElementById("il").style.display = "none";
                    if (data.fridge == 0)
                        document.getElementById("if").style.display = "none";
                    if (data.cabinate == 0)
                        document.getElementById("ic").style.display = "none";
                    if (data.oven == 0)
                        document.getElementById("io").style.display = "none";
                    if (data.windows == 0)
                        document.getElementById("iw").style.display = "none";

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>

    <script>
        function Set_idmodal(){
            document.getElementById("demo").value = document.getElementById("id_div").innerHTML;
        }
        function Set_idmodal2() {
            document.getElementById("id_cancel").value = document.getElementById("id_div").innerHTML;
        }
        function Setid(id) {
            document.getElementById("demo").value = id;
            //alert(id);
        }

        function Setid_forcancel(id) {
            document.getElementById("id_cancel").value = id;
        }
    </script>

    <script>

    </script>

    @if (ViewBag.is_service_modified != null)
    {
        <script>
                    alert("@ViewBag.is_service_modified");
        </script>
    }

    @if(ViewBag.is_pass_wrong != null)
            {
                <script>
                    alert("@ViewBag.is_pass_wrong");
                    profile_det();
                </script>
            }


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>