@model Book_now_Table;
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">

    <!-- buttons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
</head>
<body>

    <div class="modal fade" id="exampleModal_cancel_sp1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: gray;color: #646464;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 22px;font-weight: bold;" id="exampleModalCenterTitle">Cancel Service Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <form asp-action="Cancel_sr" asp-controller="Customer" method="post">
                        <label style="font-size: 17px;">Why you want to cancel the service request?</label>
                        <input asp-for="ID" type="hidden" id="id_cancel2" />
                        <input type="text" name="" style="width: 100%;height: 100px;">
                        <button type="submit" class="btn btn-primary"
                                style="width: 100%;border-radius: 30px;margin-top: 10px;font-size: 17px;" name="">
                            Cancel Now
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal_complete_sp1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: gray;color: #646464;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 22px;font-weight: bold;" id="exampleModalCenterTitle">Cancel Service Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <form asp-action="Complete_srr" asp-controller="Service_Provider" method="post" style="text-align:center;">
                       <label>Have you Completed this Service?</label>
                        <input style="display:none;" type="text" asp-for="ID" id="id_f_cs"/>
                        <button type="submit" class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" style="margin-left:10px;" data-toggle="modal" data-target="#exampleModal_complete_sp1">No</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <table class="table table-fluid" id="myTable4" style="color: rgba(0,0,0,0.7);">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service Details</th>
                <th>customer Details</th>
                <th>Payment</th>
                <th>Distance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in ViewBag.data)
            {


                <tr id="@temp.ID">
                    <td><div style="margin-top: 15px;font-size: 18px;"><span class="@temp.ID">@temp.ID</span></div></td>
                    <td onclick="demoo3(@temp.ID,5)" data-toggle="modal" data-target="#exampleModal2">
                        <div class="us_d1">
                            <div style="font-weight: bold;"><img style="height: 16px;width: 17px;" src="~/images/cus_cal.png"> <span class="@temp.ID">@temp.Booking_date.ToShortDateString()</span></div>
                            <div class="@temp.ID">@temp.Booking_duration</div>
                        </div>
                    </td>
                    <td>
                        @if (temp.SP_ID != 0)
                        {
                            <div style="display:flex;">
                                <div>
                                    <button style="border:none;"><img style="height:20px;width:20px;border:none;padding:0px;" src="~/images/us_home.png"></button>
                                </div>
                                <div class="cus_ht_txt">
                                    <div class="cus_ht_txt1 @temp.ID">@temp.SP_Name</div>
                                    <div><span class="@temp.ID">@temp.Street</span> <span class="@temp.ID">@temp.House_number</span></div>
                                    <div><span class="@temp.ID">@temp.Zipcode</span>, <span class="@temp.ID">@temp.Location</span></div>
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                    </td>
                    <td>
                        <div style="font-size: 24px;
  font-weight: bold;
  color: #1d7a8c;margin-top: 10px;" class="cus_pay @temp.ID">
                            €@temp.Discounted_cost
                        </div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        @if (temp.Is_Date_Smaller == 0)
                        {
                            <button onclick="demo_set_ic(@temp.ID)" data-toggle="modal" data-target="#exampleModal_cancel_sp1"
                                    style="background-color: #ff6b6b; border-radius:5px;border:none; margin-top:20px;
                        color:white;">
                                Cancel
                            </button>
                        }
                        else
                        {
                            <button onclick="demo_set_if_complete(@temp.ID)" data-toggle="modal" data-target="#exampleModal_complete_sp1"
                                    style="background-color: rgba(0,200,0,0.8); border-radius:5px;border:none; margin-top:20px;
                        color:white;">
                                Complete
                            </button>
                        }
                    </td>

                    <div class="@temp.ID" style="display:none;">@temp.Suggestion</div>
                    <div class="@temp.ID" style="display:none;">@temp.Booking_time</div>
                    <div class="@temp.ID" style="display:none;">@temp.Phone</div>
                </tr>


            }
        </tbody>
    </table>
    <script>
        function demo_set_ic(id2) {
            document.getElementById("id_cancel2").value = id2;
        }

        function demo_set_if_complete(id4) {
            document.getElementById("id_f_cs").value = id4;
        }
    </script>
    <script>
        $('#myTable4').DataTable();

        $('#myTable4').parents('div.dataTables_wrapper').first().show();
    </script>
</body>
</html>


