@model User;
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/css/style2.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">

    <!-- buttons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
</head>
<body>

    <div class="ninth_bdy_main">
        <nav class="navbar navbar-expand-lg fixed-top"
             style="background-color: #1fb6ff; ">
            <a class="ninth_hh" href="#">helperland</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link ninth_admin_user" href="#"><img src="~/images/ninth_admin-user.png"></a>
                    </li>
                    <li class="nav-item">
                        <a style="" class="nav-link admin_name_ninth" href="#">James Smith</a>
                    </li>
                    <li class="nav-item">
                        <a style="" class="nav-link ninth_admin_logout" href="#"><img src="~/images/ninth_logout.png"></a>
                    </li>

                </ul>
            </div>
        </nav>


        <div>
            <button type="button" class="btn navbar-light left_menu_btn_9th" data-toggle="collapse" data-target="#demo">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="demo" class="collapse">

                <ul>
                    <li>Service Management</li>
                    <li>User Management</li>

                </ul>

            </div>
        </div>

        <div class="container-fluid" style="display: flex;">
            <div class="ninth_user_man">Service Requests</div>


        </div>


        <form>
            <div class="ninth_form_main container-fluid">
                <div class="form_1st">
                    <select>
                        <option>User name &nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option>first</option>
                        <option>Second</option>
                        <option>third</option>
                    </select>
                </div>

                <div class="form_2nd">
                    <select>
                        <option>User role</option>
                        <option>User</option>
                        <option>Service Provider</option>
                    </select>
                </div>

                <div class="form_3rd">
                    <div class="ninth_49">
                        +49
                    </div>
                    <div>
                        <input class="form_3rd_i1" type="text" name="" placeholder=" Phone number">
                        <input class="form_3rd_i2" type="text" name="" placeholder=" Phone no.">
                    </div>
                </div>




                <input class="form_4th" type="text" placeholder="Zipcode" name="">


                <button class="form_5th">Search</button>


                <button class="form_6th">Clear</button>

            </div>
        </form>

        <table id="myTable11" style="width: 97%; color: #646464;">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>User Role</th>
                    <th>Registration Date</th>
                    <th>Phone</th>
                    <th>Zipcode</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var temp in ViewBag.data)
                {
                    <tr style="min-height:60px;">
                       <td>
                           @temp.FirstName
                       </td>
                        <td>
                            @temp.UserTypeId
                        </td>
                        <td>
                            @temp.CreatedDate.ToShortDateString()
                        </td>
                        <td>
                            @temp.Mobile
                        </td>
                        <td>
                            @temp.ZipCode
                        </td>
                        <td>
                            @if (temp.IsActive == true)
                            {
                                <div class="status_user_9th"><button class="@temp.UserId" style="width:63px;">Active</button></div>
                            }
                            else
                            {
                                <div class="status_user_9th" ><button class="@temp.UserId" style="width:63px;background-color:rgba(200,0,0,0.7);">Blocked</button></div>
                            }
                        </td>
                        <td>
                            <div class="dropleft">
                                <a class="btn btn-secondary" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 25px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="height: 80px;">
                                    @if (temp.UserTypeId == 2 && temp.IsApproved == false)
                                    {
                                        <a onclick="Approve_sp(@temp.UserId)" class="dropdown-item" href="#" style="height: 20px;">Approve SP</a>

                                    }
                                    @if (temp.IsActive == true)
                                    {
                                        <a onclick="deactivate(@temp.UserId)" class="dropdown-item" href="#" style="height: 15px;">Deactivate</a>
                                    }
                                    else
                                    {
                                        <a onclick="activate(@temp.UserId)" class="dropdown-item" href="#" style="height: 20px;">Activate</a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>







        <div class="ninth_footer container-fluid">
            ©2018 Helperland. All rights reserved.
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#myTable11').DataTable();
        });

        function Approve_sp(id_sp) {

            var obj = {
                "UserId": id_sp,

            };
            $.ajax({
                type: "GET",
                url: "/Admin/Approve_SP",
                data: obj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    location.href = "/Admin/Customer_Page";
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        function deactivate(id1) {

            var obj = {
                "UserId": id1,

            };
            $.ajax({
                type: "GET",
                url: "/Admin/Deactivate_user",
                data: obj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    location.href = "/Admin/Customer_Page";
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
        function activate(id1) {

            var obj = {
                "UserId": id1,

            };
            $.ajax({
                type: "GET",
                url: "/Admin/Activate_user",
                data: obj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    location.href = "/Admin/Customer_Page";
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    </script>

</body>
</html>