<html>
<head>

</head>
<body>

    
    <table id="myTable13" style="width: 97%; color: #646464;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service Date</th>
                <th>Customer Details</th>
                <th>service Provider</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var temp in ViewBag.data)
            {
                <tr>
                    <td class="us_d2 tenth_frm_id">@temp.ID</td>
                    <td class="us_d1 tenth_frm_time">
                        <div style="font-weight: bold;"><img style="height:17px;width:17px;" src="~/images/us_cal.png"> @temp.Booking_date.ToShortDateString()</div>
                        <div><img style="height:17px;width:17px;" src="~/images/us_clock.png"> @temp.Booking_duration</div>
                    </td>
                    <td class="us_d1">
                        <div>@temp.Customer_Name</div>
                        <div>
                            <img style="height:18px;width: 18px;" src="~/images/us_home.png"> <span class="@temp.ID">@temp.Street</span> <span class="@temp.ID">@temp.House_number</span>
                            , <span class="@temp.ID">@temp.Zipcode</span> <span class="@temp.ID">@temp.Location</span>
                        </div>
                    </td>

                    <td class="us_d1 cus_hat_txt" style="margin-top:15px;">
                        @if (temp.SP_Name != "")
                        {
                            <div class="cus_ht">
                                <button><img src="~/images/cus_hat.png"></button>
                            </div>
                            <div class="cus_ht_txt">
                                <div class="cus_ht_txt1">@temp.SP_Name</div>
                                <div class="cus_ht_txt2">
                                    <img src="~/images/cus_yellow_star.png">
                                    <img src="~/images/cus_yellow_star.png">
                                    <img src="~/images/cus_yellow_star.png">
                                    <img src="~/images/cus_yellow_star.png">
                                    <img src="~/images/cus_star.png">
                                    <div>4</div>
                                </div>
                            </div>
                        }
                    </td>

                    <td style="margin-top:15px;">
                        @if (temp.Status == null)
                        {
                            <div class="tenth_sta_btn tenth_btn_new">
                                <button>New</button>
                            </div>
                        }
                        @if (temp.Status == 1)
                        {
                            <div class="tenth_sta_btn tenth_btn_completed">
                                <button>Completed</button>
                            </div>
                        }
                        @if (temp.Status == 2)
                        {
                            <div class="tenth_sta_btn tenth_btn_cancelled">
                                <button>Cancelled</button>
                            </div>
                        }
                        @if (temp.Status == 3)
                        {
                            <div class="tenth_sta_btn tenth_btn_pending">
                                <button>Pending</button>
                            </div>
                        }
                    </td>

                    <td class="cus_pay" style="font-size: 21px;font-weight:bold; color: #1d7a8c;">
                        €@temp.Discounted_cost
                    </td>

                    <td class="icon_tenth" style="text-align: right;">
                        @if (temp.Status == 3 || temp.Status == null)
                        {
                            <div class="dropleft">
                                <a class="btn btn-secondary" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 25px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                    </svg>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="height: 150px;">

                                    <a onclick="set_modalvalues(@temp.ID)" class="dropdown-item" href="#" style="height: 35px;" data-toggle="modal" data-target="#exampleModal122">Edit & Reschedule</a>
                                    <a onclick="cancel_setid(@temp.ID)" data-toggle="modal" data-target="#exampleModal_cancel_sp2" class="dropdown-item" href="#" style="height: 35px;">Cancel</a>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#myTable13').DataTable();
        });
    </script>

   

</body>
</html>