@model Book_now_Table;
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/css/style2.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">

    <!-- buttons -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
</head>
<body>

    <div class="modal" id="mymodal2" tabindex="-1" role="dialog" style="width: 100%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <br>
                    <div style="text-align: center;">
                        <img src="~/images/Success_img.png" style="width: 60px;height: 60px;">
                        <br><br>
                        <div id="modal_msg" style="font-size: 21px; color: rgba(0,0,0,0.8);"></div>
                        <button style="margin-top: 30px;" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal122" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form asp-controller="Admin" asp-action="Edit_Service_Time_Address" method="post">
                        <input type="hidden" asp-for="ID" id="id_sss" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date</label>
                                <input required asp-for="Booking_date" type="text" onfocus="(this.type='date')" class="form-control" id="date_modal" placeholder="Date">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Time</label>
                                <div>
                                    <select asp-for="Booking_time" style="width: 90%;height: 37px;
                                	border: 1px solid rgba(0,0,0,0.2);">
                                        <option value="8.00">8:00 am</option>
                                        <option value="8.30">8:30 am</option>
                                        <option value="9.00">9:00 am</option>
                                        <option value="9.30">9:30 am</option>
                                        <option value="10.00">10:00 am</option>
                                        <option value="10.30">10:30 am</option>
                                        <option value="11.00">11:00 am</option>
                                        <option value="11.30">11:30 am</option>
                                        <option value="12.00">12:00 pm</option>
                                        <option value="12.30">12:30 pm</option>
                                        <option value="13.00">1:00 pm</option>
                                        <option value="13.30">1:30 pm</option>
                                        <option value="14.00">2:00 pm</option>
                                        <option value="14.30">2:30 pm</option>
                                        <option value="15.00">3:00 pm</option>
                                        <option value="15.30">3:30 pm</option>
                                        <option value="16.00">4:00 pm</option>
                                        <option value="16.30">4:30 pm</option>
                                        <option value="17.00">5:00 pm</option>
                                        <option value="17.30">5:30 pm</option>
                                        <option value="18.00">6:00 pm</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div style="font-weight: bold;color: #646464;font-size: 18px;">Service Address</div>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Street Name</label>
                                <input required asp-for="Street" type="text" class="form-control" id="street" placeholder="Street Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">House Number</label>
                                <input required asp-for="House_number" type="text" class="form-control" id="houseno" placeholder="House No.">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Postal Code</label>
                                <input required asp-for="Zipcode" readonly type="text" class="form-control" id="postalcode" placeholder="Postal Code">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">City</label>
                                <input required asp-for="Location" type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>

                        <div style="color: #646464;font-weight: bold;font-size: 18px;">Why Do You Want To Reschedule Service Request?</div>

                        <textarea style="width: 100%;height: 100px;margin-top: 10px;"></textarea>



                        <button style="width: 100%;margin-top: 15px;border-radius: 30px;" type="submit" class="btn btn-primary">Update</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal_cancel_sp2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: gray;color: #646464;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 22px;font-weight: bold;" id="exampleModalCenterTitle">Cancel Service Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <form asp-action="Cancel_sr2" asp-controller="Admin" method="post">
                        <label style="font-size: 17px;">Why you want to cancel the service request?</label>
                        <input asp-for="ID" type="hidden" id="id_cancel3" />
                        <input type="text" name="" style="width: 100%;height: 100px;">
                        <button type="submit" class="btn btn-primary"
                                style="width: 100%;border-radius: 30px;margin-top: 10px;font-size: 17px;" name="">
                            Cancel Now
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="ninth_bdy_main">
        <nav class="navbar navbar-expand-lg fixed-top"
             style="background-color: #1fb6ff; ">
            <a class="ninth_hh" href="#">helperland</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link ninth_admin_user" href="#"><img src="~/images/ninth_admin-user.png"></a>
                    </li>
                    <li class="nav-item">
                        <a style="" class="nav-link admin_name_ninth" href="#">James Smith</a>
                    </li>
                    <li class="nav-item">
                        <a style="" class="nav-link ninth_admin_logout"  href="/Helperland/Logout"><img src="~/images/ninth_logout.png"></a>
                    </li>

                </ul>
            </div>
        </nav>


        <div>
            <button type="button" class="btn navbar-light left_menu_btn_9th" data-toggle="collapse" data-target="#demo">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="demo" class="collapse">

                <ul>
                    <li><a href="#">Service Management</a></li>
                    <li><a href="/Admin/Customer_Page">User Management</a></li>
                </ul>
                

            </div>
        </div>

        <div class="container-fluid" style="display: flex;">
            <div class="ninth_user_man">Service Requests</div>


        </div>


        <form style="height:235px; margin-bottom:20px;">
            <div class="tenth_form_main container-fluid">

                <div class="tenth_1st">
                    <input id="ser_id" type="text" placeholder="Service ID" name="">
                </div>
                <div class="tenth_1st">
                    <input id="Postal_code" type="text" placeholder="Postal Code" name="">
                </div>
                <div class="tenth_1st">
                    <input id="email" type="email" placeholder="Email" name="">
                </div>
                <div class="tenth_1st">
                    <input id="cus" type="text" placeholder="Customer" />
                </div>
                <div class="tenth_1st" style="margin-top:20px;">
                    <input id="ser_pro" type="text" placeholder="Service Provider" />
                </div>
                <div class="tenth_1st" style="margin-top:20px;">
                    <select id="sta">
                        <option value="0">Status &nbsp;</option>
                        <option value="10">New</option>
                        <option value="1">Completed</option>
                        <option value="3">Pending</option>
                        <option value="2">Cancelled</option>
                    </select>
                </div>

                <div class="tenth_2nd" style="margin-top:20px;">
                    <input id="dat" type="text" placeholder="From Date" onfocus="(this.type='date')">
                </div>

                <div class="tenth_2nd" style="margin-top:20px;">
                    <input id="to_date" type="text" placeholder="To Date" onfocus="(this.type='date')">
                </div>

                <button style="margin-top:20px;margin-bottom:20px;" type="button" onclick="filter_services()" class="tenth_2nd tenth_2nd_btn1">Search</button>


                <button type="reset" style="margin-top:20px;" class="tenth_2nd tenth_2nd_btn2">Clear</button>

            </div>
        </form>

        <table id="myTable10" style="width: 97%; color: #646464;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Date</th>
                    <th>Customer Details</th>
                    <th>service Provider</th>
                    <th>Status</th>
                    <th>Payment</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var temp in ViewBag.data)
                {
                    <tr>
                        <td class="us_d2 tenth_frm_id">@temp.ID</td>
                        <td class="us_d1 tenth_frm_time">
                            <div style="font-weight: bold;"><img style="height:17px;width:17px;" src="~/images/us_cal.png"> @temp.Booking_date.ToShortDateString()</div>
                            <div><img style="height:17px;width:17px;" src="~/images/us_clock.png"> @temp.Booking_duration</div>
                        </td>
                        <td class="us_d1">
                            <div>@temp.Customer_Name</div>
                            <div>
                                <img style="height:18px;width: 18px;" src="~/images/us_home.png"> <span class="@temp.ID">@temp.Street</span> <span class="@temp.ID">@temp.House_number</span>
                                , <span class="@temp.ID">@temp.Zipcode</span> <span class="@temp.ID">@temp.Location</span>
                            </div>
                        </td>

                        <td class="us_d1 cus_hat_txt" style="margin-top:15px;">
                            @if (temp.SP_Name != "")
                            {
                                <div class="cus_ht">
                                    <button><img src="~/images/cus_hat.png"></button>
                                </div>
                                <div class="cus_ht_txt">
                                    <div class="cus_ht_txt1">@temp.SP_Name</div>
                                    <div class="cus_ht_txt2">
                                        <img src="~/images/cus_yellow_star.png">
                                        <img src="~/images/cus_yellow_star.png">
                                        <img src="~/images/cus_yellow_star.png">
                                        <img src="~/images/cus_yellow_star.png">
                                        <img src="~/images/cus_star.png">
                                        <div>4</div>
                                    </div>
                                </div>
                            }
                        </td>

                        <td style="margin-top:15px;">
                            @if (temp.Status == null)
                            {
                                <div class="tenth_sta_btn tenth_btn_new">
                                    <button>New</button>
                                </div>
                            }
                            @if (temp.Status == 1)
                            {
                                <div class="tenth_sta_btn tenth_btn_completed">
                                    <button>Completed</button>
                                </div>
                            }
                            @if (temp.Status == 2)
                            {
                                <div class="tenth_sta_btn tenth_btn_cancelled">
                                    <button>Cancelled</button>
                                </div>
                            }
                            @if (temp.Status == 3)
                            {
                                <div class="tenth_sta_btn tenth_btn_pending">
                                    <button>Pending</button>
                                </div>
                            }
                        </td>

                        <td class="cus_pay" style="font-size: 21px;font-weight:bold; color: #1d7a8c;">
                            €@temp.Discounted_cost
                        </td>

                        <td class="icon_tenth" style="text-align: right;">
                            @if (temp.Status == 3 || temp.Status == null)
                            {
                                <div class="dropleft">
                                    <a class="btn btn-secondary" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 25px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="height: 150px;">
                                        <a onclick="set_modalvalues(@temp.ID)" class="dropdown-item" href="#" style="height: 35px;" data-toggle="modal" data-target="#exampleModal122">Edit & Reschedule</a>
                                        <a onclick="cancel_setid(@temp.ID)" data-toggle="modal" data-target="#exampleModal_cancel_sp2" class="dropdown-item" href="#" style="height: 35px;">Cancel</a>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="filter_ss"></div>

        <div class="ninth_footer container-fluid">
            ©2018 Helperland. All rights reserved.
        </div>

    </div>

    @if (ViewBag.is_updated_address != null)
    {
        <script>
            document.getElementById("modal_msg").innerHTML = "Service Details Edited Succesfull";
            $('#mymodal2').modal('show');
        </script>
    }

    <script>
        function set_modalvalues(id_modal_vals) {


            var obj = {
                "ServiceRequestId": id_modal_vals,

            };
            $.ajax({
                type: "GET",
                url: "/Temp/Get_Service_Date",
                data: obj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //alert(data);
                    document.getElementById("date_modal").value = data;

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            //
            document.getElementById("id_sss").value = id_modal_vals;
            document.getElementById("street").value = document.getElementsByClassName(id_modal_vals)[0].innerHTML;
            document.getElementById("houseno").value = document.getElementsByClassName(id_modal_vals)[1].innerHTML;
            document.getElementById("postalcode").value = document.getElementsByClassName(id_modal_vals)[2].innerHTML;
            document.getElementById("city").value = document.getElementsByClassName(id_modal_vals)[3].innerHTML;
        }
    </script>

    <script>
        function filter_services() {
            var id = document.getElementById("ser_id").value;
            var customer = document.getElementById("cus").value;
            var SP = document.getElementById("ser_pro").value;
            var status = document.getElementById("sta").value;
            var date = document.getElementById("dat").value;
            var Postal_code = document.getElementById("Postal_code").value;
            var email = document.getElementById("email").value;
            var to_date = document.getElementById("to_date").value;

            var obj = {
                "Customer_Name": customer,
                "ID": id,
                "SP_Name": SP,
                "Status": status,
                "Zipcode": Postal_code,
                "Booking_date": date
            };

            document.getElementById("myTable10").style.display = "none";
            $('#myTable10').parents('div.dataTables_wrapper').first().hide();
            $('#filter_ss').load("/Admin/Filter_Services", { model: obj, "Email": email, "To_date": to_date });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#myTable10').DataTable();
        });
    </script>

    <script>
        function cancel_setid(id_can) {
            document.getElementById("id_cancel3").value = id_can;
            alert(document.getElementById("id_cancel3").value);
        }
    </script>

    @if (ViewBag.is_updated_address != null)
    {
        <script>
            alert("@ViewBag.is_updated_address");
        </script>
    }
    @if(ViewBag.is_service_conflict != null)
            {
                <script>
                    alert("@ViewBag.is_service_conflict");
                </script>
            }
    


</body>
</html>